{% extends "emails/base.html" %}
{% load i18n %}
{% load absolute_url %}

{% block content %}
    {% blocktrans %}Dear {{ name }},{% endblocktrans %}<br>
<br>
    {% blocktrans %}We understand that you wish to delete your account at {{ site_url }}. To complete your request, please click on the link below.{% endblocktrans%}<br>
<br>
    <a href="{% absolute_url confirmation_url %}">{% absolute_url confirmation_url %}</a><br>
{% endblock %}
