{% extends "emails/base.html" %}
{% load i18n %}
{% load absolute_url %}
{% url 'register_activate' activation_token as activation_token_url %}

{% block site_title %}{{ site_name }}{% endblock %}

{% block content %}
    {% blocktrans with name=user.name %} Dear {{ name }},{% endblocktrans %}<br />
    <br />
    {% blocktrans %}Thank you for creating an account at {{ site_name }}!{% endblocktrans %}<br />
    <br />
    {% trans "To activate your account, please click on the following link:" %}<br />
    <br />
    <a href="{% absolute_url activation_token_url %}">{% absolute_url activation_token_url %}</a><br />
{% endblock %}
