{% extends "emails/base.html" %}
{% load i18n %}
{% load settings_value %}

{% block site_title %}{{ site_name }}{% endblock %}

{% block content %}
    {% blocktrans %}Dear {{ name }},{% endblocktrans %}<br/>
    <br/>
    {% blocktrans %}At your request we send you a link to create a new password at {{ site_name }}.{% endblocktrans %}<br/>
    <br/>
    {% blocktrans %}Click the following link or copy the link to your browser to create a new password.{% endblocktrans %}<br/>
    <br/>
    <a href="{{ reset_url }}">{{ reset_url }}</a><br/>
    <br/>
    {% blocktrans %}This link is valid until {{ due_date }}.{% endblocktrans %}<br/>
{% endblock %}
