{% load i18n %}
{% load include_asset %}
{% load settings_value %}

<div class="card ___nopadding">
    <h3 class="card__title ___addpadding-side">{% trans "Password" %}</h3>

    <div class="___addpadding-side">
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        {% trans "To log in with a password you can create one using the button below. We'll send you an email with instructions on how to reset your password." %}
    </div>

    <div class="card__action ___addpadding-side">
        <form method="post" action="/securitypages/change-password/" novalidate>
            {% csrf_token %}
            <input type="hidden" name="page_action" value="ChangePassword"/>
            <button name="change_password" type="submit" class="button ___active ___clear" value="submit">{% trans "Change password" %}</button>
        </form>
    </div>
</div>
