{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Page not found" %}</h2>
     <div class="account__cards">
         <div class="card ___nopadding">
            <div class="___addpadding-side">
                <p>{% blocktrans %}Sorry. The page you are looking for could not been found. Either it does not exist (anymore) or you have to log in first.{% endblocktrans %}</p>
                <p><img alt="" src="/static/images/error-404.png" border=0 width=400></p>
            </div>
        </div>
    </div>
{% endblock %}
