{% extends "base.html" %}
{% load i18n %}
{% load include_asset %}


{% block content %}
<h2>{% trans "Unexpected error" %}</h2>
     <div class="account__cards">
         <div class="card ___nopadding">
            <div class="___addpadding-side">
                <p>{% trans "Sorry. An error occurred and your request could not be completed." %}</p>
                  <p>
                    {% trans "Please inform " %}<a href="mailto:{{ EMAIL_SUPPORT }}">{{ EMAIL_SUPPORT }}</a>
                    {% if log_uuid %}
                    <ul class="messages error" role="alert">
                        <li>
                            {% include_asset "icons/person.svg" %}
                                <div class="textcolor_primary">{% trans "Error message identification:" %}</div>
                                <div class="textcolor_secondary">{{ log_uuid }}</div>
                        </li>
                    </ul>
                    {% endif %}
                  </p>
                <p><img alt="" src="/static/images/error-500.png" border=0 width=400></p>
            </div>
        </div>
    </div>
{% endblock %}
