{% extends "base_account.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Backup Tokens" %}</h2>
 <form method="post">{% csrf_token %}{{ form }}
     <div class="account__cards">
         <div class="card ___nopadding">
            <h3 class="card__title ___addpadding-side">{% trans "Backup Tokens" %}</h3>
            <div class="___addpadding-side">
                <p>{% blocktrans %}Backup tokens can be used when your primary and backup
                    phone numbers aren't available. The backup tokens below can be used
                    for login verification. If you've used up all your backup tokens, you
                    can generate a new set of backup tokens. Only the backup tokens shown
                    below will be valid.{% endblocktrans %}</p>
                    {% if device.token_set.count %}
                    <ul class="___inline">
                        {% for token in device.token_set.all %}
                        <li>
                            <span class="badge ___tag grey">{{ token.token }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <br />
                    <p>{% blocktrans %}Print these tokens and keep them somewhere safe.{% endblocktrans %}</p>
                    {% else %}
                    <p>{% trans "You don't have any backup codes yet." %}</p>
                    {% endif %}
                </div>
                <div class="card__action ___addpadding-side">
                    <button class="button ___clear" type="submit">{% trans "Generate Tokens" %}</button>
                </div>
         </div>
     </div>
  </form>
{% endblock %}
