{% spaceless %}

{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load include_asset %}
{% load settings_value %}
{% get_current_language as LANGUAGE_CODE %}
{% settings_value 'EXTERNAL_HOST' as EXTERNAL_HOST %}
{% settings_value 'SITE_FAVICON' as SITE_FAVICON %}
{% settings_value 'SITE_LOGO' as SITE_LOGO %}
{% settings_value 'SITE_TITLE' as SITE_TITLE %}
{% settings_value 'EMAIL_SUPPORT' as EMAIL_SUPPORT %}
{% settings_value 'DEFAULT_SHOW_DESTINATION' as DEFAULT_SHOW_DESTINATION %}
{% settings_value 'DEFAULT_BACKGROUND_URL' as DEFAULT_BACKGROUND_URL %}
{% settings_value 'DEFAULT_DESTINATION_NAME' as DEFAULT_DESTINATION_NAME %}
{% settings_value 'DEFAULT_DESTINATION_URL' as DEFAULT_DESTINATION_URL %}
{% settings_value 'SITE_TERMS' as SITE_TERMS %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}{{ SITE_TITLE }} Account</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
        {% if SITE_FAVICON %}
            <link rel="icon" href="/media/{{ SITE_FAVICON }}">
        {% endif %}
        {% render_bundle "web" "css" %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script nonce="{{ request.csp_nonce }}">
          function onSubmit(token) {
            document.getElementById("credentials-form").submit();
          }
        </script>
    </head>
    <body>
        <div class="account-overlay">
            {% if ORIGIN %}
                {% if ORIGIN.origin_site_logo_url %}
                    <div class="account-theme" data-bg="/media/{{ ORIGIN.origin_site_logo_url }}">
                {% else %}
                    <div class="account-theme">
                {% endif %}
                <div class="account__close-wrapper">
                    <a href={{ ORIGIN.origin_site_url }} class="button ___white ___outline account__close">{{ ORIGIN.origin_site_name }}</a>
                </div>
                </div>
            {% elif DEFAULT_SHOW_DESTINATION %}
                <div class="account-theme" data-bg="/media/{{ DEFAULT_BACKGROUND_URL }}">
                <div class="account__close-wrapper">
                    <a href={{ DEFAULT_DESTINATION_URL }} class="button ___white ___outline account__close">{{ DEFAULT_DESTINATION_NAME }}</a>
                </div>
                </div>
            {% endif %}

            <div class="account">
                <div class="account__top-bar">
                    {% if SITE_LOGO %}
                        <a class="navigation__logo" title="{% trans "Back to the homepage" %}" href="{{ EXTERNAL_HOST }}"><h1>{% include_asset SITE_LOGO %}</h1></a>
                    {% else %}
                        <a class="navigation__logo" title="{% trans "Back to the homepage" %}" href="{{ EXTERNAL_HOST }}"><h1>{{ SITE_TITLE }}</h1></a>
                    {% endif %}
                </div>

                <div class="account__slider">
                    <div class="account__content-container">
                        <div class="account__content">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="{% static "js/jquery-3.7.0.min.js" %}"></script>
        <script src="{% static "js/materialize-0.97.8.min.js" %}"></script>
        {% render_bundle "web" "js" %}
        {% include 'snipets/analytics.html' %}
    </body>
</html>
{% endspaceless %}
