{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% load include_asset %}
{% load settings_value %}
{% load absolute_url %}
{% load avatars %}
{% get_current_language as LANGUAGE_CODE %}
{% settings_value 'EXTERNAL_HOST' as EXTERNAL_HOST %}
{% settings_value 'SITE_FAVICON' as SITE_FAVICON %}
{% settings_value 'SITE_LOGO' as SITE_LOGO %}
{% settings_value 'SITE_TITLE' as SITE_TITLE %}
{% settings_value 'DEFAULT_DESTINATION_NAME' as DEFAULT_DESTINATION_NAME %}
{% settings_value 'DEFAULT_DESTINATION_URL' as DEFAULT_DESTINATION_URL %}
{% settings_value 'DEFAULT_SHOW_DESTINATION' as DEFAULT_SHOW_DESTINATION %}
{% settings_value 'SITE_SUPPORT' as SITE_SUPPORT %}
{% settings_value 'SITE_SUPPORT_NAME' as SITE_SUPPORT_NAME %}
{% settings_value 'SITE_TERMS' as SITE_TERMS %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}{{ SITE_TITLE }} Account</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
        <link rel="icon" href="/media/{{ SITE_FAVICON }}">

        {% render_bundle "web" "css" %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    </head>
    <body>
        <div class="account-overlay ___profile">
            <div class="account-menu">
                <!-- TODO: Add translation -->
                <a href="#start-of-content" class="skip-navigation hide-visually">Navigatie overslaan</a>
                <div class="account__top-bar">
                    {% if SITE_LOGO %}
                    <a class="navigation__logo" title="{% trans "Back to the homepage" %}" href="{{ EXTERNAL_HOST }}"><h1>{% include_asset SITE_LOGO %}</h1></a>
                    {% else %}
                    <a class="navigation__logo" title="{% trans "Back to the homepage" %}" href="{{ EXTERNAL_HOST }}"><h1>{{ SITE_TITLE }}</h1></a>
                    {% endif %}
                    <button type="button" class="account-menu__hamburger" id="show_menu">
                        {% include_asset "icons/hamburger.svg" %}
                        <!-- TODO: Add translation -->
                        <span class="account-menu__show hide-visually">Toon navigatie</span>
                        <span class="account-menu__hide hide-visually">Verberg navigatie</span>
                    </button>
                </div>

                <ul class="account-menu__list">
                    <li>
                        <div class="account-menu__list-item">

                            <h2 class="textcolor_primary">{% trans "Welcome" %}, {{request.user.name}}</h2>

                            {% if request.user.avatar %}
                            <img src="{% avatar_url request.user "large" %}" alt="{% trans 'Avatar' %}" class="account-menu__avatar" />
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        {% if request.path == '/dashboard/' %}
                            <a href="{% url 'dashboard' %}" class="account-menu__list current">
                        {% else %}
                            <a href="{% url 'dashboard' %}">
                        {% endif %}
                            {% include_asset "icons/dashboard.svg" %}
                            <div>
                                <span class="title">{% trans "Dashboard" %}</span><br />
                                {% trans "Your sites" %}
                            </div>
                        </a>
                    </li>
                    <li>
                        {% if request.path == '/profile/' %}
                            <a href="{% url 'profile' %}" class="account-menu__list current">
                        {% else %}
                            <a href="{% url 'profile' %}">
                        {% endif %}
                            {% include_asset "icons/person.svg" %}
                            <div>
                                <span class="title">{% trans "Profile" %}</span><br />
                                {% trans "Your details" %}, {% trans "Avatar" %}
                            </div>
                        </a>
                    </li>
                    <li>
                        {% if request.path == '/securitypages/' %}
                            <a href="{% url 'security_pages' %}" class="account-menu__list current">
                        {% else %}
                            <a href="{% url 'security_pages' %}">
                        {% endif %}
                            {% include_asset "icons/security.svg" %}
                            <div>
                                <span class="title">{% trans "Security" %}</span><br />
                                {% trans "Password" %}, {% trans "Sessions" %}, {% trans "Two-factor authentication" %}
                            </div>
                        </a>
                    </li>
                    <li>
                        {% if request.path == '/saml/connections/' %}
                            <a href="{% url 'saml_connections' %}" class="account-menu__list current">
                        {% else %}
                            <a href="{% url 'saml_connections' %}">
                        {% endif %}
                            {% include_asset "icons/link.svg" %}
                            <div>
                                <span class="title">{% trans "Connections" %}</span><br />
                                {% trans "Existing connections between your organisation(s) and " %}{{ SITE_TITLE }}{% trans " accounts" %}
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}?slo">
                            {% include_asset "icons/log-out.svg" %}
                            <div>
                                <span class="title">{% trans "Log out" %}</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        {% if SITE_SUPPORT %}
                            <a href="{% absolute_url SITE_SUPPORT %}" target=_blank>
                            <div>{{ SITE_SUPPORT_NAME }}</div>
                            </a>
                        {% endif %}
                    </li>
                    <li>
                        {% if SITE_TERMS %}
                            <a href="{% absolute_url SITE_TERMS %}" target=_blank>
                        {% elif request.path == '/pages/terms/' %}
                            <a href="{% url 'pages' page_name='terms' %}" target=_blank class="account-menu__list current">
                        {% else %}
                            <a href="{% url 'pages' page_name='terms' %}" target=_blank>
                        {% endif %}
                            <div>{% trans "General terms" %}</div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="account-right" id="start-of-content">
                <div class="account__close-wrapper">
                    {% if ORIGIN %}
                        <a href={{ ORIGIN.origin_site_url }} class="button ___white ___outline account__close">{{ ORIGIN.origin_site_name }}</a>
                    {% elif DEFAULT_SHOW_DESTINATION %}
                        <a href={{ DEFAULT_DESTINATION_URL }} class="button ___white ___outline account__close">{{ DEFAULT_DESTINATION_NAME }}</a>
                    {% endif %}
                </div>

                <div class="account-right__content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="{% static "js/jquery-3.7.0.min.js" %}"></script>
        <script src="{% static "js/materialize-0.97.8.min.js" %}"></script>
        {% render_bundle "web" "js" %}
        {% include 'snipets/analytics.html' %}
    </body>
</html>
