{% extends "base.html" %}
{% load i18n %}
{% load include_asset %}
{% load settings_value %}

{% block title %}{% trans "Forgot password" %} · {% endblock %}

{% block content %}
    <div class="login__step-title">
        <div>
            <h2>{% trans "Forgot password" %}</h2>
            <p>{% trans "of your " %}{% settings_value 'SITE_TITLE' %}{% trans " account" %}</p>
        </div>
        <img alt="" src="/static/images/logo-icon.svg" class="login__step-icon"/>
    </div>

    {% include 'login/messages.html' %}
    <br/>

    <ul class="messages correct" role="alert">
        <li class="messages__link">
            {% include_asset "icons/email.svg" %}
            <div class="textcolor_primary">{% trans "Email sent" %}</div>
            <div class="textcolor_secondary">{% trans "When the address is registered in our system you will receive an email with a link to configure a new password." %} </div>
        </li>
    </ul>

    <div class="register__buttons">
        <a href="{% url 'login' %}" class="button ___stretch ___white ___outline"> {% trans "Log in" %}</a>
    </div>

    <ul class="messages info" role="alert">
        <li class="messages__link">
            <a href="mailto: {{ EMAIL_SUPPORT }}">
                {% include_asset "icons/help-outline.svg" %}
                <div class="textcolor_primary">{% trans "Need help?" %}</div>
                <div class="textcolor_secondary">{% trans "Email" %} {{ EMAIL_SUPPORT }}</div>
            </a>
        </li>
    </ul>
{% endblock %}
