{% extends "base.html" %}
{% load i18n %}
{% load include_asset %}
{% load settings_value %}
{% load recaptcha_needed %}
{% load wcag_complience %}

{% block title %}{% trans "Forgot password" %} · {% endblock %}

{% block content %}
    <script nonce="{{ request.csp_nonce }}">
        function onSubmit(token) {
            document.getElementById("reset-form").submit();
        }
    </script>

    <form id="reset-form" method="post" novalidate>
        {% csrf_token %}

        <div class="login__step-title">
            <div>
                <h2>{% trans "Forgot password" %}</h2>
                <p>{% trans "of your account" %}</p>
            </div>
            <img alt="" src="/static/images/logo-icon.svg" class="login__step-icon"/>
        </div>

        <ul class="messages error" role="alert">
            {% for error in form.non_field_errors %}
                <li>
                    {% include_asset "icons/person.svg" %}
                    {% if error == 'captcha_mismatch' %}
                        <div class="textcolor_primary">{% trans "Login failed." %}</div>
                        <div class="textcolor_secondary">{% trans "Please check Google captcha." %}</div>
                    {% else %}
                        <div class="textcolor_primary">{% trans 'Error' %}</div>
                        <div class="textcolor_secondary">{{ error }}</div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <fieldset>
            <div class="input-field">
                <label for="{{ form.username.id_for_label }}">{% trans "Email address" %}</label>
                {{ form.username|aria_invalid}}
                {% include "snipets/form_errors.html" with field=form.username %}
            </div>

            <div class="register__buttons">
                {% recaptcha_needed request as show_recaptcha %}

                {% if show_recaptcha %}
                    {% settings_value 'GOOGLE_RECAPTCHA_SITE_KEY' as recaptcha_site_key %}
                    <button name="button_next" class="g-recaptcha button ___stretch ___active" data-sitekey="{{ recaptcha_site_key }}"
                            data-callback='onSubmit'>{% trans "Reset password" %}</button>
                {% else %}
                    <button name="button_next" class="button ___stretch ___active" type="submit">{% trans "Reset password" %}</button>
                {% endif %}
                <p class="button-description">{% trans "We'll send you an email with instructions on how to reset your password." %}</p>
            </div>

        </fieldset>

        <button name="button_back"
                class="button ___active ___outline ___black login__check_account_type ___stretch"
                type="submit">{% trans "Go back" %}</button>
    </form>

{% endblock %}
