{% extends "base.html" %}
{% load i18n %}
{% load include_asset %}
{% load settings_value %}
{% load absolute_url %}
{% load avatars %}
{% load wcag_complience %}

{% block title %}{% trans "Complete your profile" %} · {% endblock %}

{% block content %}

    <form enctype="multipart/form-data" id="credentials-form" method="post" novalidate>
        {% csrf_token %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>

        <div class="login__step-title">
            <div>
                <h2>{% trans "Complete your profile" %}</h2>
                <div></div>
            </div>
            <img alt="" src="/static/images/logo-icon.svg" class="login__step-icon"/>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if 'success' in message.tags %}
                    <ul class="messages correct" role="alert">
                        <li>
                            {% include_asset "icons/check.svg" %}
                            <div class="textcolor_primary">{% trans 'Success' %}</div>
                            <div class="textcolor_secondary">{{ message }}</div>
                        </li>
                    </ul>
                {% elif 'info' in message.tags %}
                    <ul class="messages info" role="alert">
                        <li>
                            {% include_asset "icons/lock.svg" %}
                            <div class="textcolor_primary">{% trans "Information" %}</div>
                            <div class="textcolor_secondary">{{ message }}</div>
                        </li>
                    </ul>
                {% elif 'error' in message.tags %}
                    <ul class="messages error" role="alert">
                        <li>
                            {% include_asset "icons/person.svg" %}
                            <div class="textcolor_primary">{% trans 'Error' %}</div>
                            <div class="textcolor_secondary">{{ message }}</div>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}

        <ul class="messages error" role="alert">
            {% for error in form.non_field_errors %}
                <li>
                    {% include_asset "icons/person.svg" %}
                    {% if error == 'captcha_mismatch' %}
                        <div class="textcolor_primary">{% trans "Login failed." %}</div>
                        <div class="textcolor_secondary">{% trans "Please check Google captcha." %}</div>
                    {% else %}
                        <div class="textcolor_primary">{% trans 'Error' %}</div>
                        <div class="textcolor_secondary">{{ error }}</div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        <fieldset>
            <div class="input-field">
                <label for="id_name">{% trans "First- and lastname" %}</label>
                {{ form.name|aria_invalid}}
                {% include "snipets/form_errors.html" with field=form.name %}
            </div>
            <div class="input-field">
                {% if request.user.avatar %}
                    <img src="{% avatar_url request.user "large" %}" alt="{% trans 'Avatar' %}" border=0 class="account-user__avatar">
                    <input id="avatar-clear_id" name="avatar-clear" type="checkbox" tabindex="-1">
                {% else %}
                    <img src="/static/icons/person.svg" alt="{% trans 'Avatar' %}" border=0 class="account-user__avatar">
                {% endif %}

                <input id="id_avatar" name="avatar" type="file" accept=".jpg, .jpeg, .png" {% if form.avatar.errors %}aria-invalid="true" aria-errormessage="id_avatar_error"{% endif %}>
                {% include "snipets/form_errors.html" with field=form.avatar %}
                <button id="avatar-change-button" class="button" type="button">{% trans "Choose an avatar" %}</button>

            </div>
            <div class="register__checks">
                <div class="register__check">
                    {{ form.accepted_terms|aria_invalid}}
                    {% include "snipets/form_errors.html" with field=form.accepted_terms %}
                    <label for="id_accepted_terms">{% trans "I agree with " %}
                        {% if SITE_TERMS %}
                            <a href="{% absolute_url SITE_TERMS %}" target=_blank>
                        {% else %}
                            <a target=_blank href="/pages/terms">
                        {% endif %}
                        {% trans "the general terms" %}</a>
                </div>
            </div>
            <div class="register__buttons">
                <button name="complete_profile" class="button ___stretch ___active" type="submit">{% trans "Continue" %}</button>
            </div>

        </fieldset>
    </form>

    <script nonce="{{ request.csp_nonce }}">
        document.addEventListener("DOMContentLoaded", (event) => {
            const credentialsForm = document.getElementById("credentials-form");
            const avatarChangeButton = document.getElementById("avatar-change-button");
            const avatarChangeInput = document.getElementById("id_avatar");

            avatarChangeButton.addEventListener("click", () => {
                avatarChangeInput.click();
            });

            avatarChangeInput.addEventListener("change", () => {
                credentialsForm.submit();
            });
        });
    </script>
{% endblock %}
