{% extends "base.html" %}
{% load i18n %}
{% load settings_value %}
{% load include_asset %}

{% block content %}
    {% if activation_token %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <ul class="messages info" role="alert">
            <li class="messages__link">
                {% include_asset "icons/person.svg" %}
                <div class="textcolor_primary">{% trans "Activate your new account" %}</div>
                <div class="textcolor_secondary">
                    {% blocktrans %}You are almost ready to use your new account at {{ site_name }}.{% endblocktrans %}
                </div>
            </li>
        </ul>
        <br>
        {% settings_value 'GOOGLE_RECAPTCHA_SITE_KEY' as recaptcha_site_key %}
        <script type="text/javascript" nonce="{{ request.csp_nonce }}">
            function submitActivateAccount() {
                $("#activate_account").submit();
            }
        </script>
        <form id="activate_account" method="post" action="{% url 'register_activate' activation_token %}" novalidate>
            {% csrf_token %}
            <div class="register-activate__buttons">
                {% if recaptcha_site_key %}
                    <button name="register" class="g-recaptcha button ___stretch ___active" data-sitekey="{{ recaptcha_site_key }}"
                            data-callback='submitActivateAccount'>{% trans "Activate account" %}</button>
                {% else %}
                    <button name="register" class="button ___stretch ___active" type="submit">{% trans "Activate account" %}</button>
                {% endif %}
            </div>
        </form>
    {% else %}
        <ul class="messages error" role="alert">
            <li class="messages__link">
                {% include_asset "icons/person.svg" %}
                <div class="textcolor_primary">{% trans "We could not activate your account" %}</div>
                <div class="textcolor_secondary">{% trans "Maybe your account already is activated." %} </div>
            </li>
        </ul>
        <br>
        <a href="{% url 'login' %}" class="button ___stretch ___white ___outline">{% trans "Log in" %}</a>
    {% endif %}
{% endblock %}
