{% extends "base_account.html" %}
{% load user_sessions %}
{% load i18n %}
{% load include_asset %}
{% load settings_value %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if 'success' in message.tags %}
            <ul class="messages correct" role="alert">
                <li>
                    {% include_asset "icons/check.svg" %}
                    <div class="textcolor_primary">{% trans 'Success' %}</div>
                    <div class="textcolor_secondary">{{ message }}</div>
                </li>
            </ul>
        {% elif 'error' in message.tags %}
            <ul class="messages error" role="alert">
                <li>
                    {% include_asset "icons/person.svg" %}
                    <div class="textcolor_primary">{% trans 'Error' %}</div>
                    <div class="textcolor_secondary">{{ message }}</div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}
{% endif %}


    <div class="account__cards">
        <div class="card ___stretch ___nopadding">
            <h3 class="card__title ___addpadding-side">{% trans "SAML connect information" %}</h3>
            <fieldset class="___addpadding-side">

                <table class="table ___stretch">
                    <tbody>
                        <tr>
                            <td style="color:#757575">{% trans "Attribute" %}</th>
                            <td style="color:#757575">{% trans "Value" %}</th>
                        </tr>
                        <tr>
                            <td>{% trans "Identity Provider" %}</td>
                            <td align="left">{{ identity_provider }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "External ID" %}</td>
                            <td align="left">{{ externalid }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Name ID" %}</td>
                            <td align="left">{{ name_id }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                {% if samlUserdata %}
                    <table class="table ___stretch">
                        <tbody>
                            <tr>
                                <td style="color:#757575">{% trans "SAML Claim" %}</th>
                                <td style="color:#757575">{% trans "Claim value" %}</th>
                            </tr>
                            {% for claim, value in samlUserdata.items %}
                            <tr>
                                <td>{{ claim }}</td>
                                <td>{{ value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                <br />

            </fieldset>

        </div>
    </div>

{% endblock %}
