{% extends "base_account.html" %}
{% load i18n %}

{% block content %}
<div class="account__cards">
    <div class="card ___nopadding">
        <form method="post">
            {% csrf_token %}
            <h3 class="card__title ___addpadding-side">{% trans "Disable Two-factor Authentication" %}</h3>
            <fieldset class="___addpadding-side">
                <p>{% blocktrans %}You are about to disable two-factor authentication. This
                compromises your account security, are you sure?{% endblocktrans %}</p>
                <div class="login__check">
                  <input id="id_understand" name="understand" type="checkbox" required="">
                  <label for="id_understand">{% trans "Yes, I am sure" %}</label>
                </div>
            </fieldset>
            <div class="card__action ___addpadding-side">
                <button class="button ___clear" type="submit">{% trans "Disable" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
