{% extends "base_account.html" %}
{% load i18n %}
{% load wcag_complience %}

{% block content %}

<div class="account__cards">
    <div class="card ___nopadding">
        <form method="post" action=".">
            {% csrf_token %}
            <h3 class="card__title ___addpadding-side">{% trans "Enable Two-factor Authentication" %}</h3>
            <fieldset class="___addpadding-side">
                <p>{% blocktrans %}Scan the QR-code below with your token generator and enter the generated token.{% endblocktrans %}</p>
                <p>
                    <center>
                        <img src="{{ QR_URL }}" alt="QR Code" />
                    </center>
                </p>
                <br />
                <div class="input-field">
                    {{ form.token.label_tag }}
                    {{ form.token|aria_invalid}}
                    {% include "snipets/form_errors.html" with field=form.token %}
                </div>

                <p class="textcolor_secondary paragraph">
                    {% blocktrans %}Don't have a token generator? Try <a href="https://support.google.com/accounts/answer/1066447" target="_blank" rel="nofollow">Google Authenticator</a> or <a href="https://authy.com/download/" target="_blank" rel="nofollow">Authy</a>.{% endblocktrans %}
                </p>
            </fieldset>
            <div class="card__action ___addpadding-side">
                <button name="volgende" class="button  ___active ___clear login__login" type="submit">{% trans "Next" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
