{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="login__step-title">
    <div>
        <h2>Toegang</h2>
        <p>
            {% trans 'Client' %} <b>{{ client.name }}</b> {% trans 'would like to access this information of you' %}
        </p>
    </div>
</div>

<form method="post" action="{% url 'oidc_provider:authorize' %}">
    {% csrf_token %}
    {{ hidden_inputs }}

    <ul>
        {% for scope in scopes %}
        <li><b>{{ scope.name }}</b> <br><i>{{ scope.description }}</i></li>
        {% endfor %}
    </ul>

    <div class="register__buttons">
        <input class="button ___white ___outline" type="submit" value="{% trans 'Decline' %}" />
        <input class="button" name="allow" type="submit" value="{% trans 'Authorize' %}" />
    </div>
</form>
{% endblock %}
