{% extends 'admin/base_site.html' %}
{% load i18n %}

{% block content %}
    <h1>{% blocktrans with email=object.user.email %}Recent display-name changes for {{ email }}{% endblocktrans %}</h1>
    <table class="table">
        <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Change" %}</th>
            <th>{% trans "Duplicate identity" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for record in display_name_history %}
            <tr>
                <td>{{ record.created_at }}</td>
                <td>{{ record }}</td>
                <td>
                    {% if record.similar_accounts.count %}
                        {% for registration in record.similar_accounts.all %}
                            {% blocktrans with origin_site=registration.origin_site.origin_site_url email=registration.user.email %}At {{ origin_site }} as {{ email }}{% endblocktrans %}<br/>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% load i18n admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {{ object }}
    </div>
{% endblock %}
