{% if ANALYTICS_ENABLED %}
    <!-- Piwik -->
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="{{ ANALYTICS_URL }}";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '{{ ANALYTICS_SITE_ID }}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="{{ ANALYTICS_URL }}piwik.php?idsite={{ ANALYTICS_SITE_ID }}" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik -->
{% endif %}
