{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block bodyclass %}{{ block.super }} delete-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="/admin/core">Core</a>
&rsaquo; <a href="/admin/core/user">Users</a>
&rsaquo; {% trans 'Alter email domains' %}
</div>
{% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
    {% endfor %}
    <input type="hidden" name="action" value="alter_mail_domain" />
    <input type="hidden" name="post" value="yes">

    <div>
        <label for="new_domain">Nieuw domein</label>
        <input type="text" name="new_domain" placeholder="@example.com" required />
    </div>
    <div>
        <input type="submit" value="Change domains" />
        <a href="/admin/core/user" class="button cancel-link">Annuleren</a>
    </div>
</form>
{% endblock %}
