{% extends 'base.html' %}

{% load i18n %}
{% load settings_value %}
{% load include_asset %}

{% block title %}{% trans "Log in with email" %} · {% endblock %}

{% block content %}
    <form id="credentials-form" method="post" novalidate>
        {% csrf_token %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <div class="login__step-title">
            <div>
                <h2>{% trans "Log in with email" %}</h2>
                {{ has_errors }}
            </div>
        </div>

        {% include 'login/errors.html' %}

        {% include 'login/messages.html' %}

        <p>{% blocktrans %}Press 'Next' to log in at {{ site_name }}.{% endblocktrans %}</p>

    <br>
    <br>
    <br>

        <button name="button_next"
                data-track-content=""
                data-content-name="login_by_link"
                class="button ___outline ___stretch ___active"
                type="submit">{% include_asset "icons/magic.svg" %}&nbsp;{% trans "Next" %}</button>
    </form>

{% endblock %}
