{% extends 'base.html' %}

{% load i18n %}
{% load settings_value %}
{% load include_asset %}

{% block title %}{% trans "Log in with email" %} · {% endblock %}

{% block content %}
    <form id="credentials-form" method="post" novalidate>
        {% csrf_token %}
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <div class="login__step-title">
            <div>
                <h2>{% trans "Check your email" %}</h2>
                {{ has_errors }}
            </div>
        </div>

        {% include 'login/errors.html' %}

        {% include 'login/messages.html' %}

        <p>{% blocktrans %}We emailed a link to <b>{{ username }}</b>. Click the link to log in.{% endblocktrans %}</p>

    <br>
    <br>
    <br>

        <button name="button_back"
                class="button ___active ___outline ___black login__check_account_type ___stretch"
                type="submit">{% trans "Go back" %}</button>
    </form>

{% endblock %}
