{% load i18n %}
{% load include_asset %}

    <ul class="messages error" role="alert">
            {% for error in form.non_field_errors %}
            <li>
                {% include_asset "icons/person.svg" %}
                {% if error == 'captcha_mismatch' %}
                    <div class="textcolor_primary">{% trans "Login failed." %}</div>
                    <div class="textcolor_secondary">{% trans "Please check Google captcha." %}</div>
                {% elif error == 'invalid_login' %}
                    <div class="textcolor_primary">{% trans "Please enter a correct email and password." %}</div>
                    <div class="textcolor_secondary">{% trans "Note that both fields may be case-sensitive." %}</div>
                {% elif error == 'inactive' %}
                    <div class="textcolor_primary">{% trans "This account is inactive." %}</div>
                    <div class="textcolor_secondary">{% trans "Please check your email to validate your account." %}</div>
                {% elif error == 'banned' %}
                    <div class="textcolor_primary">{% trans "This account is suspended." %}</div>
                    <div class="textcolor_secondary">{% trans "Please contact " %}<a href="mailto:{{ EMAIL_SUPPORT }}">{{ EMAIL_SUPPORT }}</a></div>
                {% else %}
                    <div class="textcolor_primary">{% trans "Invalid login." %}</div>
                    <div class="textcolor_secondary">{{ error }}</div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
