{% extends "base.html" %}
{% load i18n %}
{% load include_asset %}
{% load settings_value %}
{% load absolute_url %}
{% load wcag_complience %}

{% block title %}{% trans "Sign in" %} · {% endblock %}

{% block content %}

    {% include 'login/messages.html' %}

    <form method="post" action="." novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"/>

        {% if login_step == 'token' %}

            <div class="login__step-title">
                <div>
                    <h2>{% trans "Sign in" %}</h2>
                    <p>{% trans "with your " %}{% settings_value 'SITE_TITLE' %}{% trans " account" %}.</p>
                </div>
                <img alt="" src="/static/images/logo-icon.svg" class="login__step-icon"/>
            </div>

            {% if form.non_field_errors %}
                <ul class="messages error" role="alert" style="margin-bottom: .5rem;">
                    <li>
                        {% include_asset "icons/person.svg" %}
                        <div class="textcolor_primary">{% trans "Invalid token." %}</div>
                        {% for error in form.non_field_errors %}
                            <div class="textcolor_secondary">{{ error }}</div>
                        {% endfor %}
                    </li>
                </ul>
            {% endif %}

            <ul class="messages info" role="alert">
                <li class="messages__link">
                    {% include_asset "icons/lock.svg" %}
                    <div class="textcolor_primary">{% trans "Two factor authentication" %}</div>
                    <div class="textcolor_secondary">{% trans "Fill in a code from your code generator." %}</div>
                </li>
            </ul>

            <fieldset>
                <div class="input-field">
                    {{ form.otp_token.label_tag }}
                    {{ form.otp_token|aria_invalid}}
                    {% include "snipets/form_errors.html" with field=form.otp_token %}
                </div>
                <div class="login__buttons">
                    <button class="button ___stretch --small-margin ___active login__login" type="submit">{% trans "Log in" %}</button>
                    <a href="{% url 'logout' %}" class="button ___stretch ___white ___outline">{% trans "Cancel" %}</a>
                    {% if next %}
                        <a href="/login2fa/backup?next={{ next }}"
                           class="button ___stretch --small-margin ___white ___outline">{% trans "Use backup token" %}</a>
                    {% else %}
                        <a href="/login2fa/backup" class="button ___stretch --small-margin ___white ___outline">{% trans "Use backup token" %}</a>
                    {% endif %}
                </div>
            </fieldset>

        {% elif login_step == 'backup' %}

            <p>{% blocktrans %}Use this form for entering backup tokens for logging in. These tokens have been generated for you to print and keep safe. Please
                enter one of these backup tokens to login to your account.{% endblocktrans %}</p>
            <fieldset>

                {% if form.non_field_errors %}
                    <ul class="messages error" role="alert">
                        <li>
                            {% include_asset "icons/person.svg" %}
                            <div class="textcolor_primary">{% trans "Invalid token." %}</div>
                            {% for error in form.non_field_errors %}
                                <div class="textcolor_secondary">{{ error }}</div>
                            {% endfor %}
                        </li>
                    </ul>
                {% endif %}

                <div class="input-field">
                    {{ form.otp_token.label_tag }}
                    {{ form.otp_token|aria_invalid}}
                    {% include "snipets/form_errors.html" with field=form.otp_token %}
                </div>
            </fieldset>
            <div class="login__buttons">
                <button name="wizard_goto_step" type="submit" class="button ___stretch --small-margin ___active">{% trans "Use backup token" %}</button>
                {% if next %}
                    <a href="/login2fa/token?next={{ next }}" class="button ___stretch --small-margin ___white ___outline">{% trans "Back" %}</a>
                {% else %}
                    <a href="/login2fa/token" class="button ___stretch --small-margin ___white ___outline">{% trans "Back" %}</a>
                {% endif %}
            </div>

        {% endif %}

    </form>

{% endblock %}
