{% extends 'base.html' %}

{% load i18n %}
{% load settings_value %}
{% load include_asset %}
{% load wcag_complience %}

{% block content %}
    <form id="credentials-form" method="post" action="." novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
        <div class="login__step-title">
            <div>
                <h2>{% trans "Link to a " %}{% settings_value 'SITE_TITLE' %}{% trans " account" %}</h2>
                <p>{% trans "You've successfully logged in with your organisation account for the first time." %}</p>
                {{ has_errors }}
            </div>
            <img alt="" src="/static/images/logo-icon.svg" class="login__step-icon"/>
        </div>

        {% include 'login/errors.html' %}

        {% include 'login/messages.html' %}

        <fieldset class="loginview__email ___active">

            <div class="input-field">
                <label for="id_username">{% trans "Email address" %}</label>
                {{ form.username|aria_invalid}}
                {% include "snipets/form_errors.html" with field=form.username %}
            </div>

            <div class="input-field">
                <label for="id_password">{% trans "Password" %}</label>
                {{ form.password|aria_invalid}}
                {% include "snipets/form_errors.html" with field=form.password %}
                <button type="button" class="password__toggle">
                                <div class="password__toggle-on">{% include_asset "icons/eye.svg" %}<span class="hide-visually">Verberg wachtwoord</span></div>
                                <div class="password__toggle-off">{% include_asset "icons/eye-off.svg" %}<span class="hide-visually">Toon wachtwoord</span></div>
                            </button>
                <a href="{{ password_link }}" class="forgot-password">{% trans "Forgot password" %}?</a>
                <p class="capslock"></p>
            </div>

            <div class="login__buttons ___flexbuttons">
                {% settings_value 'GOOGLE_RECAPTCHA_SITE_KEY' as recaptcha_site_key %}
                {% if show_recaptcha %}
                    <button name="login" class="g-recaptcha button button ___active login__login" data-sitekey="{{ recaptcha_site_key }}" data-callback='onSubmit'>{% trans "Log in" %}</button>
                {% else %}
                    <button name="login" class="button ___active login__login" type="submit">{% trans "Log in" %}</button>
                {% endif %}
            </div>

        </fieldset>

    </form>

{% endblock %}
