{% extends "base.html" %}
{% load i18n %}
{% load include_asset %}


{% block content %}
<h2>{% trans "Access not allowed" %}</h2>
     <div class="account__cards">
         <div class="card ___nopadding">
            <div class="___addpadding-side ___addpadding-topbottom">
                {% if custom_message %}
                    <p>{{ custom_message }}</p>
                {% else %}
                  <p>{% trans "Sorry. Your email domain is not allowed to access the requested site." %}</p>
                {% endif %}
                <p>{% trans "Requested site:" %} <a href="{{ requested_site }}">{{ requested_site }}</a></p>
                <p>
                  {% trans "If you think this is an mistake, please contact " %}
                  <a href="mailto:{% if custom_contact_email %}{ {custom_contact_email }}{% else %}{{ EMAIL_SUPPORT }}{% endif %}">
                    {% if custom_contact_email %}{{custom_contact_email }}{% else %}{{ EMAIL_SUPPORT }}{% endif %}
                  </a>
                </p>
                <p><img alt="" src="/static/images/error-500.png" border=0 width=400></p>
            </div>
        </div>
    </div>
{% endblock %}
